<section class="hero-wrap hero-wrap-2" style="background-image: url('/public/images/home/home_bg.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center">
                <h1 id="blogHeader" class="mb-2 bread"></h1>
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a href="/">
                            <span id="blogHaderHome"></span>
                            <i class="ion-ios-arrow-forward"></i>
                        </a>
                    </span>
                    <span>
                        <span id="blogHaderText"></span>
                        <i class="ion-ios-arrow-forward"></i>
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>
<div data-disable ="disabled" style="display:none;" id="quills"></div>
<section class="svkn-section bg-light">
    <div class="container">
        <div id="blogs" class="row">
        </div>
        <!-- <div class="row no-gutters my-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#"><i class="ion-ios-arrow-back"></i></a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="ion-ios-arrow-forward"></i></a></li>
                    </ul>
                </div>
            </div>
        </div> -->
    </div>
</section>
<link href="/public/css/quill.snow.css" rel="stylesheet">
<script src="/public/js/jquery-1.11.3.min.js"></script>
<script src="/public/js/cookies.min.js"></script>
<script src="/public/js/system/library/quill.js"></script>
<script src="/public/js/system/library/moment.min.js"></script>
<script>
let BlogsLang = navigator.language || navigator.userLanguage;
if (!Cookies.get('lang')) {
    if (BlogsLang == 'tr') {
        Cookies.set('lang', 'TR');
        currentLang = 'TR';
    }
    else if (BlogsLang == 'en') {
        Cookies.set('lang', 'EN');
        currentLang = 'EN';
    }
    else if (BlogsLang == 'ru') {
        Cookies.set('lang', 'RU');
        currentLang = 'RU';
    }
    else if (BlogsLang == 'fr') {
        Cookies.set('lang', 'FR');
        currentLang = 'FR';
    }
    else if (BlogsLang == 'ar') {
        Cookies.set('lang', 'AR');
        currentLang = 'AR';
    }
    else if (BlogsLang == 'pt') {
        Cookies.set('lang', 'PT');
        currentLang = 'PT';
    }
    else if (BlogsLang == 'it') {
        Cookies.set('lang', 'IT');
        currentLang = 'IT';
    }
    else if (BlogsLang == 'de') {
        Cookies.set('lang', 'DE');
        currentLang = 'DE';
    }
    else if (BlogsLang == 'es') {
        Cookies.set('lang', 'ES');
        currentLang = 'ES';
    }
    else {
        Cookies.set('lang', 'TR');
        currentLang = 'TR';
    };
};
    let blogs = <%-JSON.stringify(blog)%>;
    let lang = Cookies.get('lang');
    for (let i = 0; i < blogs.length; i++) {
        let quill = new Quill("#quills", {
            theme: 'snow',
            disable:true
        });
        quill.setContents((lang == 'TR' ? blogs[i].yaziTR : (lang == 'EN' ? blogs[i].yaziEN : (lang == 'ES' ? blogs[i].yaziES : (lang == 'FR' ? blogs[i].yaziFR : (lang == 'DE' ? blogs[i].yaziDE : (lang == 'IT' ? blogs[i].yaziIT : (lang == 'AR' ? blogs[i].yaziAR : (lang == 'PT' ? blogs[i].yaziPT : blogs[i].yaziRU)))))))));
        
        $("#blogs").append(`
        <div class="col-md-4">
                <div class="blog-entry">
                    <a id="`+blogs[i]._id+`" href="/blogicerigi" class="block-20 howBlogText"
                        style="background-image: url('`+blogs[i].gorsel+`');">
                        <div class="meta-date text-center p-2">
                            <span class="day">`+moment().format("DD/MM/YYYY")+`</span>
                        </div>
                    </a>
                    <div class="text bg-white p-4">
                        <h3 class="heading"><a href="/blogicerigi" id="`+blogs[i]._id+`" class="howBlogText"><span>` + (lang == 'TR' ? blogs[i].baslikTR : (lang == 'EN' ? blogs[i].baslikEN : (lang == 'ES' ? blogs[i].baslikES : (lang == 'FR' ? blogs[i].baslikFR : (lang == 'DE' ? blogs[i].baslikDE : (lang == 'IT' ? blogs[i].baslikIT : (lang == 'AR' ? blogs[i].baslikAR : (lang == 'PT' ? blogs[i].baslikPT :blogs[i].baslikRU)))))))) + `</a></h3>
                        <p>`+quill.getText(0,100)+`...</p>
                        <div class="d-flex align-items-center mt-4">
                            <p class="mb-0"><a href="/blogicerigi" id="`+blogs[i]._id+`" class="btn btn-primary howBlogText"><span style="font-size:36px"
                                        class="ion-ios-arrow-round-forward"></span></a></p>
                        </div>
                    </div>
                </div>
        </div>
        `);
        $(".ql-toolbar").remove();
    };
    $(".howBlogText").click(function () {
        let blogID = $(this).attr("id");
        Cookies.set("blogID",blogID);
    })
</script>