<section class="hero-wrap hero-wrap-2" style="background-image: url('/public/images/home/home_bg.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">ÇEREZ POLİTİKASI</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">ANA SAYFA <i
                                class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a
                            href="/cerezpolitikasi">ÇEREZ POLİTİKASI <i class="ion-ios-arrow-forward"></i></a></span></p>
            </div>
        </div>
    </div>
</section>
<section class="svkn-section justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-">
                <style>
                    table tr td {
                        padding: 2px 5px;
                    }

                    header {
                        display: none
                    }
                </style>
                <h2 class="mb-3">Çerez (Cookie) Politikası​</h2>
                <p>
                    İnternet sitemizden en verimli şekilde faydalanabilmeniz ve kullanıcı deneyiminizi geliştirebilmek
                    için Cookie kullanıyoruz. Cookie kullanılmasını tercih etmezseniz tarayıcınızın ayarlarından
                    Cookieleri silebilir ya da engelleyebilirsiniz. Ancak bunun internet sitemizi kullanımınızı
                    etkileyebileceğini hatırlatmak isteriz. Tarayıcınızdan Cookie ayarlarınızı değiştirmediğiniz sürece
                    bu sitede Cookie kullanımını kabul ettiğinizi varsayacağız.
                </p>
                <h2 class="mb-3">
                    Cookie Nedir ve Neden Kullanılmaktadır?
                </h2>
                <p>
                    Cookieler, ziyaret ettiğiniz internet siteleri tarafından tarayıcılar aracılığıyla cihazınıza veya
                    ağ sunucusuna depolanan küçük metin dosyalarıdır.

                    İnternet Sitemizde Cookie kullanılmasının başlıca amaçları aşağıda sıralanmaktadır:
                    – İnternet sitesinin işlevselliğini ve performansını arttırmak yoluyla sizlere sunulan hizmetleri
                    geliştirmek,
                    – İnternet sitesini iyileştirmek ve internet sitesi üzerinden yeni özellikler sunmak ve sunulan
                    özellikleri sizlerin tercihlerine göre kişiselleştirmek;
                    – İnternet sitesinin, sizin ve şirketimizin hukuki ve ticari güvenliğinin teminini sağlamak.
                </p>
                <h2 class="mb-3">
                    İnternet Sitemizde Kullanılan Cookie Türleri
                </h2>
                <p>
                    <table border="1" cellspacing="0" cellpadding="0" width="100%">
                        <tbody>
                            <tr>
                                <td valign="top" style="width: 262px;">
                                    <p><span class=" ">Oturum Cookieleri</span></p>
                                    <p><span class=" ">
                                            <em>(Session Cookies)​​</em></span></p>
                                </td>
                                <td width="70%" valign="top">
                                    <p><span class=" ">Oturum Cookieleri
                                            ziyaretçilerimizin İnternet Sitesini ziyaretleri süresince kullanılan,
                                            tarayıcı kapatıldıktan sonra silinen geçici Cookielerdir.</span></p>
                                    <p><span class=" ">Bu tür Cookielerin
                                            kullanılmasının temel amacı ziyaretiniz süresince İnternet Sitesinin düzgün
                                            bir biçimde çalışmasının teminini sağlamaktır.</span></p>
                                    <p><span class=" ">Örneğin; birden fazla
                                            sayfadan oluşan çevrimiçi formları doldurmanızın sağlanmaktadır.</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" style="width: 262px;">
                                    <p><span class=" ">Kalıcı Cookieler</span></p>
                                    <p><span class=" ">
                                            <em>(Persistent Cookies)</em></span></p>
                                </td>
                                <td width="70%" valign="top">
                                    <p><span class=" ">Kalıcı Cookieler İnternet
                                            Sitesinin işlevselliğini artırmak, ziyaretçilerimize daha hızlı ve iyi bir
                                            hizmet sunmak amacıyla kullanılan Cookie türleridir.</span></p>
                                    <p><span class=" ">Bu tür Cookieler
                                            tercihlerinizi hatırlamak için kullanılır ve tarayıcılar vasıtasıyla
                                            cihazınızda depolanır.</span></p>
                                    <p><span class=" ">Kalıcı Cookielerin bazı
                                            türleri; İnternet Sitesini kullanım amacınız gibi hususlar göz önünde
                                            bulundurarak sizlere özel öneriler sunulması için
                                            kullanılabilmektedir.</span></p>
                                    <p><span class=" ">Kalıcı Cookieler sayesinde
                                            İnternet Sitemizi aynı cihazla tekrardan ziyaret etmeniz durumunda,
                                            cihazınızda İnternet Sitemiz tarafından oluşturulmuş bir Cookie olup
                                            olmadığı kontrol edilir ve var ise, sizin siteyi daha önce ziyaret ettiğiniz
                                            anlaşılır ve size iletilecek içerik bu doğrultuda belirlenir ve böylelikle
                                            sizlere daha iyi bir hizmet sunulur.</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </p>
                <h2 class="mb-3">
                    İnternet Sitemizde Kullanılan Cookieler
                </h2>
                <p>
                    <table border="1" cellspacing="0" cellpadding="0" width="100%">
                        <tbody>
                            <tr>
                                <td width="30%" valign="top">
                                    <p><span class="">Teknik Cookieler
                                            <br>(<em>Technical Cookies</em>)</span></p>
                                </td>
                                <td width="70%" valign="top">
                                    <p><span class="">Teknik Cookieler ile
                                            internet sitesinin çalışmasının sağlanmakta, internet sitesinin çalışmayan
                                            sayfaları ve alanları tespit edilmektedir.</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" valign="top">
                                    <p><span class="">Otantikasyon Cookieleri
                                            <br>(<em>Authentication Cookies</em>)</span></p>
                                </td>
                                <td width="70%" valign="top">
                                    <p><span class="">Ziyaretçiler, şifrelerini
                                            kullanarak internet sitesine giriş yapmaları durumunda, bu tür Cookieler ile
                                            ziyaretçinin internet sitesinde ziyaret ettiği her bir sayfada site
                                            kullanıcısı olduğu belirlenerek, kullanıcının her sayfada şifresini yeniden
                                            girmesi önlenir.</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" valign="top">
                                    <p><span class="">Flash Cookieler
                                            <br>(<em>Flash Cookies)</em></span></p>
                                </td>
                                <td width="70%" valign="top">
                                    <p><span class="">İnternet sitesinde yer alan
                                            görüntü veya ses içeriklerini etkinleştirmek için kullanılan Cookie
                                            türleridir.</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" valign="top">
                                    <p><span class="">Kişiselleştirme Cookieleri
                                            <br>(<em>Customization Cookies)</em></span></p>
                                </td>
                                <td width="70%" valign="top">
                                    <p><span class="">Kullanıcıların tercihlerini
                                            farklı internet sitelerinin farklı sayfalarını ziyarette de hatırlamak için
                                            kullanılan Cookielerdir. Örneğin, seçmiş olduğunuz dil tercihinizin
                                            hatırlanması.</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" valign="top">
                                    <p><span class="">Analitik Cookieler
                                            <br>(<em>Analytical Cookies)</em></span></p>
                                </td>
                                <td width="70%" valign="top">
                                    <p><span class="">Internet sitesini ziyaret
                                            edenlerin sayıları, internet sitesinde görüntülenen sayfaların tespiti,
                                            internet sitesi ziyaret saatleri, internet sitesi sayfaları kaydırma
                                            hareketleri gibi analitik sonuçların üretimini sağlayan Cookielerdir.</span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </p>
                <h2 class="mb-3">
                    ​Cookielerin Kullanımı Veri Sahipleri Tarafından Engellenebilir mi?
                </h2>
                <p>
                    <table border="1" cellspacing="0" cellpadding="0" width="100%">
                        <tbody>
                            <tr>
                                <td width="30%" valign="top">
                                    <p><span class="">Adobe Analytics</span></p>
                                </td>
                                <td width="70%" valign="top">
                                    <p><span class="">
                                        </span><a href="http://www.adobe.com/tr/privacy/opt-out.html"
                                            target="_blank"><span
                                                class="">http://www.adobe.com/tr/privacy/opt-out.html</span></a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" valign="top">
                                    <p><span class="">Google Adwords</span></p>
                                </td>
                                <td width="70%" valign="top">
                                    <p><span class="">
                                        </span><a href="https://support.google.com/ads/answer/2662922?hl=tr"
                                            target="_blank"><span
                                                class="">https://support.google.com/ads/answer/2662922?hl=tr</span></a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" valign="top">
                                    <p><span class="">Google Analytics</span></p>
                                </td>
                                <td width="70%" valign="top">
                                    <p><span class="">
                                        </span><a href="https://tools.google.com/dlpage/gaoptout" target="_blank"><span
                                                class="">https://tools.google.com/dlpage/gaoptout</span></a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" valign="top">
                                    <p><span class="">Google Chrome</span></p>
                                </td>
                                <td width="70%" valign="top">
                                    <p><span class="">
                                        </span><a href="https://support.google.com/chrome/answer/95647?hl=tr"
                                            target="_blank"><span
                                                class="">https://support.google.com/chrome/answer/95647?hl=tr</span></a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" valign="top">
                                    <p><span class="">Internet Explorer</span></p>
                                </td>
                                <td width="70%" valign="top">
                                    <p><span class="">
                                        </span><a
                                            href="https://support.microsoft.com/tr-tr/help/17442/windows-internet-explorer-delete-manage-cookies"
                                            target="_blank"><span
                                                class="">https://support.microsoft.com/tr-tr/help/17442/windows-internet-explorer-delete-manage-cookies</span></a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" valign="top">
                                    <p><span class="">MozillaFirefox</span></p>
                                </td>
                                <td width="70%" valign="top">
                                    <p><span class="">
                                        </span><a href="https://support.mozilla.org/tr/kb/%C3%87erez%20Y%C3%B6netimi"
                                            target="_blank"><span
                                                class="">https://support.mozilla.org/tr/kb/Çerez%20Yönetimi</span></a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" valign="top">
                                    <p><span class="">Opera</span></p>
                                </td>
                                <td width="70%" valign="top">
                                    <p><span class="">
                                        </span><a href="http://www.opera.com/help/tutorials/security/privacy/"
                                            target="_blank"><span
                                                class="">http://www.opera.com/help/tutorials/security/privacy/</span></a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" valign="top">
                                    <p><span class="">Safari:</span></p>
                                </td>
                                <td width="70%" valign="top">
                                    <p><span class="">
                                        </span><a href="https://support.apple.com/kb/ph19214?locale=tr_TR"
                                            target="_blank"><span
                                                class="">https://support.apple.com/kb/ph19214?locale=tr_TR</span></a><span
                                            class="">​​​​​​​</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
</section>