<section style="margin-top: 20px;" class="section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section fadeInUp">
                <span class="subheading" id="pageHizmetlerText"></span>
                <h2 class="mb-4" id="pageHizmetlerText2"></h2>
                <p id="pageHizmetlerText3"></p>
            </div>
        </div>
        <div class="departments">
            <div class="row">
                <div class="col-md-12 nav-link-wrap">
                    <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <a class="nav-link active fadeInUp" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1"
                            role="tab" aria-controls="v-pills-1" aria-selected="true"></a>

                        <a class="nav-link fadeInUp" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab"
                            aria-controls="v-pills-2" aria-selected="false"></a>

                        <a class="nav-link fadeInUp" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab"
                            aria-controls="v-pills-3" aria-selected="false"></a>

                        <a class="nav-link fadeInUp" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab"
                            aria-controls="v-pills-4" aria-selected="false"></a>

                        <a class="nav-link fadeInUp" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab"
                            aria-controls="v-pills-5" aria-selected="false"></a>

                    </div>
                </div>
                <div class="col-md-12 tab-wrap">

                    <div class="tab-content bg-light p-4 p-md-5 fadeInUp" id="v-pills-tabContent">

                        <div class="tab-pane py-2 fade show active" id="v-pills-1" role="tabpanel"
                            aria-labelledby="day-1-tab">
                            <div class="row">
                                <div class="col-md-8">
                                    <h2 id="footerSame1"></h2>
                                    <p id="hizmetlerText1"></p>
                                </div>
                                <div class="col-md-4">
                                    <img width="400" src="/public/images/sacEkimi.png">
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
                            <div class="row">
                                <div class="col-md-8">
                                    <h2 id="footerSame2"></h2>
                                    <p id="hizmetlerText2"></p>
                                </div>
                                <div class="col-md-4">
                                    <img width="400" src="/public/images/beard.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
                            <div class="row">
                                <div class="col-md-8">
                                    <h2 id="footerSame3"></h2>
                                    <p id="hizmetlerText3"></p>
                                </div>
                                <div class="col-md-4">
                                    <img width="400" src="/public/images/eyebrow.jpg">
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-day-4-tab">
                            <div class="row">
                                <div class="col-md-8">
                                    <h2 id="footerSame4"></h2>
                                    <p id="hizmetlerText4"></p>
                                </div>
                                <div class="col-md-4">
                                    <img width="400" src="/public/images/dent.jpg">
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-day-5-tab">
                            <div class="row">
                                <div class="col-md-8">
                                    <h2 id="footerSame5"></h2>
                                    <p id="hizmetlerText5"></p>
                                </div>
                                <div class="col-md-4">
                                    <img width="400" src="/public/images/plastic.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>