<section class="hero-wrap hero-wrap-2" style="background-image: url('/public/images/home/home_bg.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 id="contactHeader" class="mb-2 bread"></h1>
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a href="/">
                            <span id="contactHome"></span>
                            <i class="ion-ios-arrow-forward"></i>
                        </a>
                    </span>
                    <span>
                        <span id="contactText"></span>
                        <i class="ion-ios-arrow-forward"></i>
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="svkn-section svkn-no-pt svkn-no-pb contact-section">
    <div class="container">
        <div class="row d-flex justify-content-center svkn-no-gutters">
            <div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
                <form action="#">
                    <div class="form-group">
                        <input id="contactNameInput" maxlength="155" type="text" class="form-control contactInputs" placeholder="">
                    </div>
                    <div class="form-group">
                        <input id="contactEmailInput" maxlength="255" type="text" class="form-control contactInputs" placeholder="">
                    </div>
                    <div class="form-group">
                        <textarea id="contactTextarea" name="" maxlength="500" cols="30" rows="7" class="form-control contactInputs"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <input id="contactInfoBtn"  value="" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="svkn-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <h2 id="contactInfoHeader" class="h4"></h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-3 d-flex">
                <div class="bg-light d-flex align-self-stretch box p-4">
                    <p><span id="contactNumber"></span> <a href="tel://90<%-telefon%>"></br>+90<%-telefon%></a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="bg-light d-flex align-self-stretch box p-4">
                    <p><span id="contactMail"></span> <a href="mailto:sacekim@sevkanklinik.com"><%-eposta%></a></p>
                </div>
            </div>
        </div>
    </div>
</section>