<section class="hero-wrap hero-wrap-2" style="background-image: url('/public/images/home/home_bg.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 id="sssHeader" class="mb-2 bread"></h1>
                <p class="breadcrumbs"><span class="mr-2">
                        <a id="sssHome" href="/">
                        </a>
                        <i class="ion-ios-arrow-forward"></i>
                    </span>
                    <span>
                        <label id="sssText">
                        </label>
                        <i class="ion-ios-arrow-forward"></i>
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="col-md-12">

        <div class="panel-group" id="accordion-test">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a id="sssQuestionHeader1" data-toggle="collapse" data-parent="#accordion-test"
                            href="#collapseOne" aria-expanded="false" class="collapsed">
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div id="sssQuestionHeader1Text" class="panel-body">
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a id="sssQuestionHeader2" data-toggle="collapse" data-parent="#accordion-test"
                            href="#collapseTwo" class="collapsed" aria-expanded="false">
                            
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false">
                    <div id="sssQuestionHeader2Text" class="panel-body">
                        
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a id="sssQuestionHeader3" data-toggle="collapse" data-parent="#accordion-test" href="#collapseFour" class="collapsed"
                            aria-expanded="false">
                            
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false">
                    <div id="sssQuestionHeader3Text" class="panel-body">
                        
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a id="sssQuestionHeader4" data-toggle="collapse" data-parent="#accordion-test" href="#collapseFive" class="collapsed"
                            aria-expanded="false">
                            
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false">
                    <div id="sssQuestionHeader4Text" class="panel-body">
                        
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a id="sssQuestionHeader5" data-toggle="collapse" data-parent="#accordion-test" href="#collapseSix" class="collapsed"
                            aria-expanded="false">
                            
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" aria-expanded="false">
                    <div id="sssQuestionHeader5Text" class="panel-body">
                        
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a id="sssQuestionHeader6" data-toggle="collapse" data-parent="#accordion-test" href="#collapseSeven" class="collapsed"
                            aria-expanded="false">
                            
                        </a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse" aria-expanded="false">
                    <div id="sssQuestionHeader6Text" class="panel-body">
                        
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a id="sssQuestionHeader7" data-toggle="collapse" data-parent="#accordion-test" href="#collapseEight" class="collapsed"
                            aria-expanded="false">
                            
                        </a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse" aria-expanded="false">
                    <div id="sssQuestionHeader7Text" class="panel-body">
                        
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a id="sssQuestionHeader8" data-toggle="collapse" data-parent="#accordion-test" href="#collapseNine" class="collapsed"
                            aria-expanded="false">
                            
                        </a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse" aria-expanded="false">
                    <div id="sssQuestionHeader8Text" class="panel-body">
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>