<section class="hero-wrap hero-wrap-2" style="background-image: url('/public/images/home/home_bg.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center">
                <h1 id="urunlerimizHeader" class="mb-2 bread"></h1>
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a href="/">
                            <span id="urunlerimizHaderHome"></span>
                            <i class="ion-ios-arrow-forward"></i>
                        </a>
                    </span>
                    <span>
                        <span id="urunlerimizHeaderSub"></span>
                        <i class="ion-ios-arrow-forward"></i>
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>
<div data-disable ="disabled" style="display:none;" id="quills"></div>
<section class="svkn-section bg-light">
    <div class="container">
        <div id="urunler" class="row">
        </div>
        <!-- <div class="row no-gutters my-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#"><i class="ion-ios-arrow-back"></i></a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="ion-ios-arrow-forward"></i></a></li>
                    </ul>
                </div>
            </div>
        </div> -->
    </div>
</section>
<script src="/public/js/jquery-1.11.3.min.js"></script>
<script src="/public/js/cookies.min.js"></script>
<script src="/public/js/system/library/quill.js"></script>
<script src="/public/js/system/library/moment.min.js"></script>
<script>
let urunlerLang = navigator.language || navigator.userLanguage;
if (!Cookies.get('lang')) {
    if (urunlerLang == 'tr') {
        Cookies.set('lang', 'TR');
        currentLang = 'TR';
    }
    else if (urunlerLang == 'en') {
        Cookies.set('lang', 'EN');
        currentLang = 'EN';
    }
    else if (urunlerLang == 'ru') {
        Cookies.set('lang', 'RU');
        currentLang = 'RU';
    }
    else if (urunlerLang == 'fr') {
        Cookies.set('lang', 'FR');
        currentLang = 'FR';
    }
    else if (urunlerLang == 'ar') {
        Cookies.set('lang', 'AR');
        currentLang = 'AR';
    }
    else if (urunlerLang == 'pt') {
        Cookies.set('lang', 'PT');
        currentLang = 'PT';
    }
    else if (urunlerLang == 'it') {
        Cookies.set('lang', 'IT');
        currentLang = 'IT';
    }
    else if (urunlerLang == 'de') {
        Cookies.set('lang', 'DE');
        currentLang = 'DE';
    }
    else if (urunlerLang == 'es') {
        Cookies.set('lang', 'ES');
        currentLang = 'ES';
    }
    else {
        Cookies.set('lang', 'TR');
        currentLang = 'TR';
    };
};
    let urunler = <%-JSON.stringify(urunler)%>;
    let lang = Cookies.get('lang');
    for (let i = 0; i < urunler.length; i++) {
        let quill = new Quill("#quills", {
            theme: 'snow',
            disable:true
        });
        quill.setContents((lang == 'TR' ? urunler[i].yaziTR : (lang == 'EN' ? urunler[i].yaziEN : (lang == 'ES' ? urunler[i].yaziES : (lang == 'FR' ? urunler[i].yaziFR : (lang == 'DE' ? urunler[i].yaziDE : (lang == 'IT' ? urunler[i].yaziIT : (lang == 'AR' ? urunler[i].yaziAR : (lang == 'PT' ? urunler[i].yaziPT : urunler[i].yaziRU)))))))));

        $("#urunler").append(`
        <div class="col-md-4">
                <div class="urunlerimiz-entry">
                    <a id="`+urunler[i]._id+`" href="/iletisim" class="block-20 howurunlerimizText"
                        style="background-image: url('`+urunler[i].gorsel+`');">
                    </a>
                    <div class="text bg-white p-4">
                        <h3 class="heading"><a href="/iletisim" id="`+urunler[i]._id+`" class="howurunlerimizText"><span>` + (lang == 'TR' ? urunler[i].urunAdiTR : (lang == 'EN' ? urunler[i].urunAdiEN : (lang == 'ES' ? urunler[i].urunAdiES : (lang == 'FR' ? urunler[i].urunAdiFR : (lang == 'DE' ? urunler[i].urunAdiDE : (lang == 'IT' ? urunler[i].urunAdiIT : (lang == 'AR' ? urunler[i].urunAdiAR : (lang == 'PT' ? urunler[i].urunAdiPT :urunler[i].urunAdiRU)))))))) + `</a></h3>
                        <p>`+(lang == 'TR' ? urunler[i].yaziTR : (lang == 'EN' ? urunler[i].yaziEN : (lang == 'ES' ? urunler[i].yaziES : (lang == 'FR' ? urunler[i].yaziFR : (lang == 'DE' ? urunler[i].yaziDE : (lang == 'IT' ? urunler[i].yaziIT : (lang == 'AR' ? urunler[i].yaziAR : (lang == 'PT' ? urunler[i].yaziPT :urunler[i].yaziRU))))))))+`...</p>
                        <div class="d-flex align-items-center mt-4">
                        </div>
                    </div>
                </div>
        </div>
        `);
        $(".ql-toolbar").remove();
    };
    $(".howurunlerimizText").click(function () {
        let urunlerimizID = $(this).attr("id");
        Cookies.set("urunlerimizID",urunlerimizID);
    });
</script>